.firstblog{
    padding: 10px;
    margin: 10px;
    background-color: tomato;
    border-radius: 10px;
    border:5px solid aquamarine
}
.secondblog{
    padding: 10px;
    margin: 10px;
    background-color: tomato;
    border-radius: 10px;
    border:5px solid aquamarine
}
.thirdblog{
    padding: 10px;
    margin: 10px;
    background-color: tomato;
    border-radius: 10px;
    border:5px solid aquamarine
}